<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<style type="text/css">

* {
  box-sizing: border-box;
}

div.container {
  display: flex;
  /* space-between: 余白が均等になる */
  justify-content: space-between;
}

div.square {
  padding: 50px;
}

</style>
</head>
<body>

<div class="container">
  <div class="square" style="background: darkcyan;">あ</div>
  <div class="square" style="background: darkgray;">い</div>
  <div class="square" style="background: darkorange;">う</div>
</div>

</body>
</html>
